
@{
    ViewBag.Title = "Index";
    @model IEnumerable<Ecommerce.Domain.Entities.Product>
}
@using Ecommerce.Domain.Entities

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        @if (ViewBag.Categrories != null)
                        {
                            <h4>No hay categorias</h4>
                        }
                        else
                        {
                            foreach (Category item in ViewBag.Categories)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian"
                                               href="@Url.Action("Index", "Product", new { @id = item.Id })">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                @item.Name
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            @Html.Partial("_Products", Model)
        </div>
    </div>
</section>